/*Imagenes de fondo*/
#imagen-inicio{
	height:100%; 
	width:100%;
	
}

#imagen-puntos{
	background: url(../img/punto-de-venta.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
	margin:0 auto;
}

.imagen-conocenos{
	background: url("../img/conocenos.jpg") no-repeat;
	background-size: cover;
	width:100%;
	height:100%;
	margin:0 auto;	
}

/*Footer*/
.footer {
	width: 100%;
	height: 60px;
	background:#47a3da;
	text-align: center;
	float:left;
	color:#FFF;
}

.footer-info{
	font-size:60%;
	margin:0 auto;
	padding:2em;
	color:#afdefa;
	
}

/*Mapa*/
#mapa{
	padding:2em;
	width:100%;
}
#contiene_iframe{
	height:450px;
	background:transparent;
	text-align: center;
}

/*Sección conócenos*/
h2{
	margin: 0 auto;
	text-align: center;
	color: #FFF; 
}

h2:first-child{
	padding-top: 1.5em;
}

.parrafo{
	padding:1em 2em 0em 1em;
	text-align:center;
	color:#fff;
}

.parrafo:last-child{
	padding-bottom: 2em;
}

.parra-conocenos{
	width:70%;
	margin:0 auto;
}

/*Sección de contacto*/
.p-contacto{
	text-align:center;
	margin:0 auto;
	padding:1em 0em 0em 0em;
}

/*Productos*/

.contenderProductos{
	width:1000px;
	margin:0 auto;
}

.producto{
	width:247px;
	height:247px;
	float:left;
	border:1px solid #c7e3f4;
	margin:0px 3px 10px 0px;
}




.infoProducto{
	height:69px;
	width:245px;
	background-color:#47a3da;
	opacity:0;
	margin-top:177px;
	padding:10px 0 0 10px;
}

.infoProducto p{
	margin:0;
	padding:0;
}

.contenidoProducto {
	color:#fff;
	font-size:12px;
	padding:0 5px;
}



/*Clear*/
.clear{
	clear:both;
}

.categoria p{
	text-transform: uppercase!important;
}




